@{
	var title = "خانه";

	ViewData["Title"] = title;
}

<h3>
	@(title)
</h3>

<hr />

<div class="row">
	<div class="col">
		من محمد عبداله زاده هستم، متولد ۱۵ دی ‌ماه ۱۳۷۵
	</div>
	<div class="col">
		<img src="~/images/Mohammad.jpg" class="rounded-circle" alt="Mohammad Abdollahzadeh" asp-append-version=true style="width:10rem"/>
	</div>
</div>

<hr />

<div class="row">
	<div class="col">
		سورس‌کد این پروژه را می‌توانید از نشانی ذیل دانلود نمایید:

		<br />

		<div dir="ltr">
			<a href="https://github.com/MohammadAb1075/MaazStore" target="_blank">https://github.com/MohammadAb1075/MaazStore</a>
		</div>
	</div>
</div>

<hr />

<div class="row">
	<div class="col">
		شماره تلفن همراه:
		<a href="tel:09379582642">۰۹۳۷۹۵۸۲۶۴۲</a>
		<br />
		نشانی پست الکترونیک:
		<a href="mailto:mabdollah1375@gmail.com" target="_blank">mabdollah1375@gmail.com</a>
		<hr />
	</div>
	<div class="col">
		<h5>
			شبکه‌های اجتماعی من
		</h5>

		<ul dir="ltr">
			<li>Telegram: <a href="https://t.me/Mohammad_Ab1075/" target="_blank">https://T.Me/Mohammad_Ab1075</a></li>
			<li>Github: <a href="https://github.com/MohammadAb1075" target="_blank">https://GitHub.com/MohammadAb1075</a></li>
			<li>linkedin: <a href="https://www.linkedin.com/in/mohammad-abdollahzadeh/" target="_blank">https://www.LinkedIn.com/In/mohammad-abdollahzadeh/</a></li>
			<li>Instagram: <a href="https://www.instagram.com/Mohammad_Ab1075/" target="_blank">https://www.Instagram.com/Mohammad_Ab1075</a></li>
		</ul>
	</div>
</div>

<hr />