@model Domain.Products.Product

@{
   var pageTitle = ViewData["Title"]; 
}

@*<h1>@(Resources.Titles.ProductEdit)</h1>
<h4>@(Resources.DataDictionary.ProductModel)</h4>
*@

<hr />

<form method="post" asp-action="Create">
	<div asp-validation-summary="ModelOnly" class="text-danger"></div>
	<div class="container mt-0 mt-sm-1 mt-md-3 mt-lg-5">
		<div class="row">
			<div class="col-12 p-3 col-md-8 offset-md-2 p-md-4 col-lg-6 offset-lg-3 p-lg-5 bg-light border border-2 rounded-3 shadow-lg">
				<legend>
					@(pageTitle)
				</legend>

				<div class="mb-3">
					<label asp-for="Name" class="form-label"></label>
					<input asp-for="Name" class="form-control" />
					<span asp-validation-for="Name" class="text-danger"></span>
				</div>

				<div class="mb-3">
					<label asp-for="UnitPrice" class="form-label"></label>
					<input asp-for="UnitPrice" class="form-control" />
					<span asp-validation-for="UnitPrice" class="text-danger"></span>
				</div>

				<div class="mb-3">
					<button type="submit" class="btn btn-primary">ذخیره</button>
					<button type="reset" class="btn btn-secondary">حالت اولیه</button>
				</div>
@*
				<hr class="mt-4" />

				<div class="text-center">
					<a asp-action="Index">لیست محصولات</a>
					|
					<a asp-action="Index" asp-controller="Home">خانه</a>
					|
					<a href="#">لیست فاکتور ها</a>
				</div>*@
			</div>
		</div>
	</div>
</form>

@section Scripts{
    @{
        await Html.RenderPartialAsync("PartialViews/_ValidationScriptsPartial");
    }
}
