/*
#factorRowTable {
    width: 100%
}

#factorRowTable thead {
    width: calc(100%-1em);
}

#factorRowTable tbody {
    display: block;
    height: 10rem;
    overflow-y: scroll;
    overflow-x: hidden;
}

    #factorRowTable thead, #factorRowTable tbody tr {
        display: table;
        width: 98%;
        table-layout: fixed;
    }

#factorRowTable thead, #factorRowTable tbody, #factorRowTable td {
    border: none !important;
}

*/
.table-responsive {
    font-size: 10px;
    overflow: auto;
    max-height: 21rem;
    overflow-x: hidden;
}

.table > tbody > tr > td, .table > tbody > tr > th, .table > tfoot > tr > td, .table > tfoot > tr > th, .table > thead > tr > td, .table > thead > tr > th {
    vertical-align: middle !important;
    text-align: center;
}


table thead {
    position: sticky !important;
    top: 0px;
    z-index: 111;
}

table tfoot {
    position: sticky !important;
    bottom: 0px;
    z-index: 111;
}

th, td {
    padding: 8px !important;
}

table input{
    text-align: center;
}
.total {
    background-color: #cfe2ff !important
}